<div class="container">
  <div class="form-wrapper">
    <div class="card">
    <h1><%= @car.brand %> <%= @car.model %></h1>
    <p><%= @car.price_per_day %>€/jour</p>
    <%= simple_form_for [@car, @booking] do |f| %>
        <%= f.input :start_at, as: :date, html5: true,
              input_html: { id: "range_start", class: "d-none" }, label: false %>
      <%= f.input :end_at, as: :date, html5: true,
              input_html: { id: "range_end", class: "d-none" }, label: false %>
      <%= f.submit "Réservez mainenant !", class: "btn btn-primary" %>
      <% end %>
      </div>
  </div>
</div>

<div id="booking-form-div"
  data-bookings="<%= @bookings_dates.to_json %>">
</div>
