<div class="footer">
  <div>
  <p><%= link_to "Administratif/Renseignements", "#", class: "cpr" %></p>
  </div>
  <div>
    <%= link_to "","#", class: "fab fa-linkedin" %>
    <%= link_to "","#", class: "fab fa-github" %>
    <%= link_to "","#", class: "fab fa-instagram" %>
    <%= link_to "","#", class: "fab fa-facebook" %>
    <%= link_to "","#", class: "fab fa-twitter" %>
    <%= link_to "","#", class: "fab fa-linkedin" %>
  </div>
  <div>
    <p><%= link_to "Copyrights", "#", class: "cpr" %></p>
  </div>
</div>
