<div class="banner">
  <div class="heading">
    <%= form_tag cars_path, method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "marque/modèle/adresse" %>
      <button class="icon"><i class="fa fa-search"></i></button>
    <% end %>
    <h1>LOC'AUTO</h1>
    <%= link_to "Ajouter votre voiture", new_car_path, class: "btn btn-light" %>
  </div>
</div>
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>

<div class="container">
  <% if @cars.empty? == false %>
    <div class="index-grid">
      <% @cars.each do |car| %>
        <div class="card-trip">
          <% if car.photo.attached? %>
            <%= link_to cl_image_tag(car.photo.key), car_path(car) %>
          <% else %>
            <%= link_to image_tag("default_car.png"), car_path(car) %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <%= car.address %>
              <h2><%= link_to car.brand.upcase, car_path(car) %> <%= link_to car.model.capitalize, car_path(car) %></h2>
            </div>
            <h4 class="card-trip-pricing"><%= car.price_per_day %>€/jour</h4>
          </div>
        </div>
      <% end %>
    </div>
    <div id="map" style="width: 50%; height: 600px;"
      data-controller="mapbox"
      data-controller="geocoder"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<% ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% else %>
    <h1>Aucun Résultat !</h1>
  <% end %>
</div>
