<div class="banner-show">
  <h1><%= @car.brand.upcase %> <%= @car.model.capitalize %></h1>
</div>
<div class="container">
  <div class="show">
    <div class="part">
      <% if @car.photo.attached? %>
        <%= cl_image_tag @car.photo.key, height: 500, width: 500, crop: :fill %>
      <% else %>
        <%= image_tag "default_car.png", height: 500, width: 500, crop: :fill%>
      <% end %>
    </div>
    <div class="part">
      <% if @car.user != current_user %>
        <div class="form-wrapper">
          <div class="card">
            <%= simple_form_for [@car, @booking] do |f| %>
                <%= f.input :start_at, as: :date, html5: true,
                      input_html: { id: "range_start", class: "d-none" }, label: false %>
              <%= f.input :end_at, as: :date, html5: true,
                      input_html: { id: "range_end", class: "d-none" }, label: false %>
              <%= f.submit "Réservez mainenant !", class: "btn btn-primary" %>
              <% end %>
          </div>
        </div>
      <% else %>
        <%= link_to "Modifier les informations", edit_car_path(@car), class: "btn btn-warning" %>
        <%= link_to "Supprimer cette offre !", car_path(@car), method: :delete, data: { confirm: "Etes vous sure?" }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>

  <h1>Informations :</h1>
  <h4>Adresse : <%= @car.address %></h4>
  <h4>Tarif journalier : <%= @car.price_per_day %>€</h4>
  <h4>Année.prod : <%= @car.year_of_production %></h4>
  <%= link_to " Retour à l'accueil", cars_path, class: "fas fa-arrow-alt-circle-left" %>

  <div style="width: 40%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @marker.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div id="booking-form-div"
  data-bookings="<%= @bookings_dates.to_json %>">
</div>
