<div class="container">
  <h1>TEST</h1>
  <%= simple_form_for "", url: next_wizard_path(brand: params[:brand], model: params[:model],
                              price_per_day: params[:price_per_day],
                              engine: params[:engine], fuel: params[:fuel],
                              kilometers: params[:kilometers], seats: params[:seats],
                              year_of_production: params[:year_of_production]),
                              method: :put do |f|  %>
  <div class="row">
    <div class="col">
      <h4 class="form-h4">Moteur :</h4>
      <%= f.input_field :engine, as: :radio_buttons,
            collection: [['Essence',"Essence"], ['Diesel', "Diesel"]],
            label_method: :second, value_method: :first, label: false %>
    </div>
    <div class="col">
      <h4 class="form-h4">Boite :</h4>
      <%= f.input_field :fuel, as: :radio_buttons,
            collection: [['Automatique',"Automatique"], ['Manuelle', "Manuelle"]],
            label_method: :second, value_method: :first, label: false %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :kilometers, label: "Kilométrage" %>
    </div>
    <div class="col">
      <%= f.input :year_of_production, label: "Année de production" %>
    </div>
    <div class="col">
      <%= f.input :seats, label: "Places" %>
    </div>
  </div>

  <%= link_to previous_wizard_path(brand: params[:brand], model: params[:model],
                            price_per_day: params[:price_per_day]),
                        class:"button-primary-outline mt-4" do  %>
    Précédent
  <% end %>
  <%= f.submit %>
  <% end %>
</div>
